/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins', sans-serif;

    background:#FDF7F2;

    margin:0;

    padding:0;

}

/*==========================
        HEADER
==========================*/

header{

    background:#6E0B35;

    box-shadow:0 4px 12px rgba(0,0,0,.25);

}

.header-contenedor{

    width:90%;

    max-width:1200px;

    height:72px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo{

    display:flex;

    align-items:center;

    gap:12px;

}

.logo img{

    width:45px;

}

.logo h1{

    color:white;

    font-size:18px;

    font-weight:700;

}

nav ul{

    display:flex;

    list-style:none;

    gap:35px;

}

nav a{

    color:white;

    text-decoration:none;

    font-size:15px;

    transition:.3s;

}

nav a:hover{

    color:#FFD5A5;

}

.header-derecha{

    display:flex;

    align-items:center;

    gap:18px;

}

.carrito{

    color:white;

    font-size:28px;

    text-decoration:none;

}

.btn-ingresar{

    background:#560628;

    color:white;

    text-decoration:none;

    padding:10px 18px;

    border-radius:10px;

    font-size:14px;

}

/*==========================
        BANNER
==========================*/

.banner{

    width:90%;
    max-width:1200px;

    margin:60px auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;

    background-image:url("img/banner/mancha.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:600px;

}

.banner-texto{

    flex:1;

}

.banner-texto h2{

    font-family:'Great Vibes', cursive;

    font-size:82px;

    font-weight:400;

    color:#5A2018;

    line-height:1;

    margin-bottom:30px;

}

.banner-texto p{

    width:430px;

    font-size:18px;

    color:#6C3045;

    line-height:1.4;

    margin-bottom:35px;

}

.botones-banner{

    display:flex;

    gap:30px;

}

.btn-principal{

    background:#6E0B35;

    color:white;

    padding:16px 32px;

    border-radius:40px;

    text-decoration:none;

    font-weight:600;

    box-shadow:0 8px 15px rgba(0,0,0,.25);

}

.btn-secundario{

    border:3px solid #6E0B35;

    color:#6E0B35;

    padding:16px 32px;

    border-radius:40px;

    text-decoration:none;

    font-weight:600;

    background:#EFE6DD;

    box-shadow:0 8px 15px rgba(0,0,0,.15);

}

.btn-principal:hover{

    transform:translateY(-3px);

    transition:.3s;

}

.btn-secundario:hover{

    transform:translateY(-3px);

    transition:.3s;

}

.banner-imagen{

    flex:1;

    display:flex;

    justify-content:center;

}

.banner-imagen img{

    width:400px;

    height:400px;

    object-fit:cover;

    border-radius:45px;

}

/*==========================
        CATEGORÍAS
==========================*/

.categorias{

    width:90%;
    max-width:1000px;
    margin:90px auto;
    text-align:center;

}

.categorias h2{

    color:#6E0B35;
    font-size:48px;
    margin-bottom:45px;

}

.fila{

    display:flex;
    justify-content:center;
    gap:28px;
    margin-bottom:25px;
    flex-wrap:wrap;

}

.categoria{

    text-align:center;

}

.categoria img{

    width:190px;
    height:125px;

    border-radius:18px;

    object-fit:cover;

}

.categoria p{

    margin-top:10px;

    color:#5B2C3B;

    font-size:18px;

}

.btn-productos{

    display:inline-block;

    margin-top:35px;

    padding:16px 38px;

    border:2px solid #6E0B35;

    border-radius:40px;

    background:#E7D3C5;

    color:#5B2033;

    text-decoration:none;

    font-weight:600;

    transition:.3s;

}

.btn-productos:hover{

    background:#6E0B35;

    color:white;

}

/*==========================
        SOBRE NOSOTROS
==========================*/

.nosotros{

    width:90%;
    max-width:1200px;
    margin:120px auto 80px;

    text-align:center;

}

.nosotros h2{

    color:#6E0B35;
    font-size:48px;
    margin-bottom:45px;

}

.contenedor-nosotros{

    display:flex;

    justify-content:center;

    gap:65px;

    flex-wrap:wrap;

}

.nosotros-card{

    width:230px;

    height:430px;

    background:#DFC5B5;

    border-radius:25px;

    box-shadow:12px 14px 18px rgba(0,0,0,.25);

    padding:30px 20px;

    display:flex;

    flex-direction:column;

    align-items:center;

}

.icono{

    font-size:62px;

    color:white;

    margin-top:5px;

    margin-bottom:30px;

}

.nosotros-card h3{

    font-size:28px;

    color:#542236;

    margin-bottom:25px;

}

.nosotros-card p{

    font-size:16px;

    color:#6A3A4E;

    line-height:1.35;

}

/*==========================
        FOOTER
==========================*/

footer{

    background:#6E0B35;

    color:white;

    margin-top:100px;

}

.footer-contenedor{

    max-width:1200px;

    margin:auto;

    padding:60px 30px;

    display:flex;

    justify-content:space-between;

    gap:80px;

    flex-wrap:wrap;

}

.footer-columna{

    flex:1;

    min-width:250px;

}

.footer-columna h2{

    font-size:34px;

    margin-bottom:20px;

}

.footer-columna h3{

    font-size:26px;

    margin-bottom:20px;

}

.footer-columna p{

    font-size:16px;

    line-height:1.8;

    margin-bottom:10px;

}

.footer-columna ul{

    list-style:none;

    padding:0;

}

.footer-columna li{

    margin-bottom:10px;

}

.footer-columna a{

    color:white;

    text-decoration:none;

    transition:0.3s;

}

.footer-columna i{

    width:22px;

    margin-right:8px;

}

.footer-columna a:hover{

    color:#F6D7C3;

}

footer hr{

    width:92%;

    margin:auto;

    border:none;

    border-top:1px solid rgba(255,255,255,.35);

}

.copyright{

    text-align:center;

    padding:20px;

    font-size:15px;

}

/*==========================
        LOGIN
==========================*/

.login{

    min-height:75vh;

    display:flex;

    justify-content:center;

    align-items:center;

}

.login-contenedor{

    width:420px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.12);

}

.login-contenedor h2{

    text-align:center;

    color:#6A1234;

    margin-bottom:30px;

}

.login form{

    display:flex;

    flex-direction:column;

}

.login label{

    margin-top:15px;

    margin-bottom:8px;

    font-weight:600;

}

.login input{

    padding:14px;

    border:1px solid #ccc;

    border-radius:10px;

    font-size:16px;

}

.login button{

    margin-top:30px;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#8B4513;

    color:white;

    font-size:17px;

    cursor:pointer;

}

.login button:hover{

    background:#6A3410;

}

.login a{

    display:block;

    text-align:center;

    margin-top:18px;

    color:#6A1234;

    text-decoration:none;

}

/*==========================
        REGISTRO
==========================*/

.registro{

    display:flex;
    justify-content:center;
    align-items:center;
    padding:70px 20px;

}

.registro-contenedor{

    width:550px;

    background:#fff;

    padding:40px;

    border-radius:20px;

    box-shadow:0 8px 20px rgba(0,0,0,.15);

}

.registro h2{

    text-align:center;

    color:#6A1234;

    margin-bottom:30px;

}

.registro form{

    display:flex;

    flex-direction:column;

}

.registro label{

    margin-top:15px;

    margin-bottom:5px;

    font-weight:600;

}

.registro input{

    padding:13px;

    border:1px solid #ccc;

    border-radius:10px;

    font-size:16px;

}

.registro button{

    margin-top:30px;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#8B4513;

    color:white;

    cursor:pointer;

    font-size:17px;

}

.registro button:hover{

    background:#6F360E;

}

.registro p{

    text-align:center;

    margin-top:25px;

}

.registro a{

    color:#6A1234;

    text-decoration:none;

    font-weight:600;

}